<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="SHOPEI">
    <title>SHOPEI</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <strong>🛍️ shopei</strong>
                </li>
                <li>
                    <a href="./home.html">🏡 Accueil</a>
                </li>
                <li>
                    <a href="https://enioaiello.github.io/admin-services/views/settings/account.html" target="_blank">👤 Mon compte</a>
                </li>
                <li>
                    <a href="https://enioaiello.github.io/admin-services/views/settings/shopei.html" target="_blank">🛒 Mes achats</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <p class="headingSmiley">🏡</p>
            <h2 id="welcomeText">Bienvenue null</h2>
            <section id="startHere">
                <h3>Démarrez ici</h3>
                <p>Logiciels recommandés par l'équipe ! Téléchargez-les dés aujourd'hui !</p>
                <div class="articleContain">
                    <article>
                        <h4>Antoine</h4>
                        <p>Découvrez <strong>Antoine</strong>, un <strong>assistant textuel</strong> libre et gratuit pour <strong>macOS</strong> !</p>
                        <p><small>Disponible en Français et en Anglais</small></p>
                        <a href="#" class="button" id="antoineDownloadButton">Télécharger</a>
                    </article>
                    <article>
                        <h4>Oto-Maintenance</h4>
                        <p>Maintenez votre ordinateur Windows simplement et rapidement.</p>
                        <p><small>Disponible en Français</small></p>
                        <a href="#" target="_blank" class="button" id="otoMaintenanceDownloadButton">Télécharger</a>
                    </article>
                    <article>
                        <h4>LinOto-Maintenance</h4>
                        <p>LinOto-Maintenance c'est des scripts qui permettent une meilleur installation de certains paquets et une meilleur MàJ de paquets sur Linux</p>
                        <p><small>Disponible en Français</small></p>
                        <a href="#" class="button" id="linOtoMaintenanceDownloadButton">Télécharger</a>
                    </article>
                </div>
            </section>
            <section class="announcements">
                <h3>Dernières annonces</h3>
                <div class="articleContain">

                </div>
            </section>
            <section id="updates">
                <h3>Dernières mises à jour</h3>
                <div class="articleContain">
                    <article>
                        <h4>Version 1.1.3</h4>
                        <p>Correction de l'apparence du site.</p>
                    </article>
                    <article>
                        <h4>Version 1.1.2</h4>
                        <p>Nouveau design et aspect du site.</p>
                    </article>
                    <article>
                        <h4>Version 1.1.1</h4>
                        <p>Cette version améliore le site et sa sécurité.</p>
                    </article>
                    <article>
                        <h4>Version 1.1.0</h4>
                        <p>Cette version ajoute les achats. Ils vous permettent de retrouver vos achats directement sur votre compte <strong>Admin Services</strong>.</p>
                        <p><strong>Note :</strong> Il vous faudra un compte <strong>Admin Services</strong> actif. Cela peut-être un compte inscrit, réservé uniquement sur votre appareil, ou un compte développeur prédéfini.</p>
                    </article>
                    <article>
                        <h4>Version 1.0.1</h4>
                        <p>Cette version inclut une page d'inscription. Ce dernier permet de créer un compte pour avoir accès à <strong>SHOPEI</strong>. Si vous crééez un compte sur <strong>SHOPEI</strong> et que vous avez un compte <strong>Admin Services</strong> vous aurez toutes les informations concernant votre compte sur <strong>Admin Services</strong>.</p>
                    </article>
                    <article>
                        <h4>Version 1.0.0</h4>
                        <p>Cette version inclut 3 nouveaux programmes, 3 nouvelles annonces, la page de connexion avec <strong>Admin Services</strong>.</p>
                    </article>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, Enio Aiello. All right reserved.</small></p>
    </footer>
    <script src="../assets/js/log-check.js"></script>
    <script src="../assets/js/buy.js"></script>
    <script src="../assets/js/announcements.js"></script>
</body>
</html>