<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="SHOPEI">
    <title>SHOPEI</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
<div class="container">
    <h2>Bienvenue</h2>
    <p>Connectez-vous avec <a href="https://enioaiello.github.io/admin-services">Admin Services</a> pour commencer.</p>
    <!-- <p>Note : Le compte universel n'est pas compatible.</p> -->
    <p id="compteUniverselError">Le compte universel n'est pas compatible. Déconnectez-vous du compte universel depuis <strong>Admin Services</strong>.</p>
    <script src="../assets/js/login-page.js"></script>
</div>
</body>
</html>