<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="SHOPEI">
    <title>SHOPEI</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
<div class="container">
    <p>👋</p>
    <h2>Bienvenue</h2>
    <p>Vous pouvez créez un compte temporaire pour accéder aux pages de téléchargements des différents produits. Celui-ci s'effacera si vous changez d'ordinateur.</p>
    <p>Celui-ci s'applique uniquement sur <strong>SHOPEI</strong>, si vous avez un compte <strong>Admin Services</strong> votre identifiant sera enregistré dans les paramètres de votre compte d'utilisateur.</p>
    <form id="register">
        <input type="text" id="username" placeholder="Votre nom d'utilisateur">
        <input type="submit" id="registerButton" value="Se connecter">
    </form>
    <script src="../assets/js/register-page.js"></script>
</div>
</body>
</html>