<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="SHOPEI">
    <title>SHOPEI</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <strong>🛍️ shopei</strong>
                </li>
                <li>
                    <a href="./home.html">🏡 Accueil</a>
                </li>
                <li>
                    <a href="https://enioaiello.github.io/admin-services/views/settings/account.html" target="_blank">👤 Mon compte</a>
                </li>
                <li>
                    <a href="https://enioaiello.github.io/admin-services/views/settings/shopei.html" target="_blank">🛒 Mes achats</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <p>👍</p>
            <h2>Merci !</h2>
            <p>Votre achat à bien été pris en compte.</p>
            <p>Votre téléchargement devrait s'être ouvert dans une nouvelle page.</p>
            <p>Pour accéder à votre achat, accédez à votre compte <strong>Admin Services</strong>.</p>
        </div>
    </main>
    <footer>
        <p><small>&copy;2023, Enio Aiello. All right reserved.</small></p>
    </footer>
    <script src="../assets/js/log-check.js"></script>
    <script src="../assets/js/buy.js"></script>
</body>
</html>